html{
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(81, 79, 79, 0.5)),
    url("collegebackground.jpg");

  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: cover; /* Scales the image to cover the entire element */
  background-position: center; /* Centers the image */
}
body{
  
  text-align: center;
}
.Headers {
    display: flex;
    justify-content: center;
    gap: 20px;  /* Space between each button. */
    width: 100%;
}
.Headers a:link, .Headers a:visited{
  background-color: rgb(176, 25, 25);
  color: white;
  padding:  10px;
  width:200%;
  max-width: 200%; /* allows the width to not go past 200%*/
  text-align: center;
  text-decoration: none; /* no decoration for the text*/
  display: inline-block; /* allows this to be a block rather than just a link */
  align-items: center; /* Both this and the next line centers everything */    
  justify-content: center; 
  
}
.Headers a{
  background-color: rgb(176, 25, 25); 
    color: white;
    padding: 10px 15px;
    text-decoration: none; /* no decoration for the text */
    text-align: center;
    display: inline-block; /* allows this to be a block rather than just a link */
    border-radius: 4px; /* gives rounded corners*/
    align-items: center; 

}

.Headers a:hover{
  color: rgb(176, 25, 25); /* Change text color when you hover over it */
  text-decoration: underline; /* Creates an underline on the header.*/
  
  background-color: white; /* Makes the button white*/
  text-align: center;
}

.Title{
  text-align:center;
  font-size: 60px;
  color: black;
  
}

.WorkTitle, .WorkTitleSecond, .WorkTitleThird, .WorkTitleFourth{
  text-align: center;
  font-size: 40px;
  color:rgb(226, 144, 21);
  margin: 0 auto; /* horizontally centers it */
}

.skills,.skills2, .skills3, .classes{
  max-width: 800px;
  text-align: left;
  font-size: 20px; 
  color: white;
  margin: 0 auto; /* horizontally centers it */
}

.umbc{
  text-align:center;
  font-size: 30px; 
  color: rgb(193, 203, 62);
}
img{
    display: block;        
  margin: 0 auto; /* horizontally centers it */        
  width: 250px;          
  
}